* {
  box-sizing: border-box;
}

body {
  background-color: #7F8FA6;
}

.header {
  padding: 16px;
  background-color: #000;
  margin-bottom: 16px;
  font-family: "Titan One", sans-serif;
}
.header__nav__lista {
  display: flex;
  list-style: none;
  justify-content: center;
  border-right: 16px;
}
.header__nav__lista__item {
  color: #fff;
  margin-right: 16px;
  font-size: 24px;
}
.header__nav__lista__item__link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  transition: transform 0, 4s ease-in-out;
}
.header__nav__lista__item__link:hover {
  transform: scale(1.3);
  color: red;
}

.container {
  margin-top: 50px;
  max-width: 600px;
  width: 100%;
  height: 700px;
  margin: 0 auto;
  background-color: #192A56;
  border-radius: 32px;
}
.container .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .profile .profile-img {
  width: 90px;
  border-radius: 50%;
  margin-top: 50px;
}
.container .profile .profile-name {
  color: #dcdde1;
}
.container .profile .profile-desc {
  display: block;
  max-width: 340px;
  font-size: 16px;
  color: #dcdde1;
  opacity: 0.7;
}