* {
  box-sizing: border-box;
}

body {
  background-color: #7F8FA6;
}

.container {
  margin-top: 50px;
  max-width: 600px;
  width: 100%;
  height: 700px;
  margin: 0 auto;
  background-color: #192A56;
  border-radius: 32px;
}
.container .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .profile .profile-img {
  width: 90px;
  border-radius: 50%;
  margin-top: 50px;
}
.container .profile .profile-name {
  color: #dcdde1;
}
.container .profile .profile-desc {
  display: block;
  max-width: 340px;
  font-size: 16px;
  color: #dcdde1;
  opacity: 0.7;
}