@use './colors.scss';
@use './fonts.scss';

*{
    box-sizing: border-box;
}

body{
    background-color: colors.$backgroundColor;
}

.header{
    padding: 16px;
    background-color: colors.$headerColor;
    margin-bottom: 16px;
    font-family: fonts.$principalFont;

    &__nav{

        &__lista{
            display: flex;
            list-style: none;
            justify-content: center;
            border-right: 16px;

            &__item{
                color: #fff;
                margin-right: 16px;
                font-size: 24px;

                &__link{
                    display: inline-block;
                    text-decoration: none;
                    color: #fff;
                    transition: transform 0,4s ease-in-out;

                    &:hover{
                        transform: scale(1.3);
                        color: red;
                    }
                }

                
            }
        }

    }
}

.container{
    margin-top: 50px;
    max-width: 600px;
    width: 100%;
    height: 700px;
    margin: 0 auto;
    background-color: colors.$principalColor;
    border-radius: 32px;

    .profile{
        display: flex;
        flex-direction: column;
        align-items: center;

        .profile-img{
            width: 90px;
            border-radius: 50%;
            margin-top: 50px;
        }

        .profile-name{
            color: colors.$fontColor;
        }

        .profile-desc{
            display: block;
            max-width: 340px;
            font-size: 16px;
            color: colors.$fontColor;
            opacity: .7;
        }
    }
}